.full-width{
    background-color:#fff;
    width:100%;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
}

.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}

.nav-logo{
    text-align:center;
    width:auto;
}

.nav-person{
    text-align:right;
    width:auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    position: relative;
}

.nav-toggle{
    text-align:left;
    width:15%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.nav-toggle .title{
    font-size:22px;
    font-weight:600;
    opacity:0;
    left:-80px;
    position:relative;
    transition:0.5s;
}

.nav-toggle .title.open{
    opacity:1;
    left:0px;
}

.burger-container{
    width:36px;
    height:36px;
    border:solid 1px #cdcdcd;
    border-radius:5px;
    cursor:pointer;
    transition:1s;
    margin-left:-50px;
}

.burger-container.open{
    margin-left:108px;
}

.burger-container.open  .burger:nth-child(1){
    transform:rotate(45deg);
    position:relative;
    top:10px;
}

.burger-container.open  .burger:nth-child(2){
    display:none;
}

.burger-container.open  .burger:nth-child(3){
    transform:rotate(135deg);
}

.burger-container .burger{
    background-color:#cdcdcd;
    height:5px;
    margin:5px;
    width:26px;
    border-radius:10px;
    display:block;
    transition:1s;
}

.user-photo{
    width:40px;
    height:40px;
    background-color:#cdcdcd;
    background-position:center center;
    background-size:cover;
    border-radius:50%;
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.user-photo img{
    width: 60px;
    position: absolute;
    top: -15px;
}


.user-name{
    font-size:14px;
    color:#333;
    font-weight:600;
}

.nav-person a{
    display: flex;
    align-items: center;
}

.on{
    display: flex!important;
}

.user-menu{
    position: absolute;
    top: 75px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    width: 130px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: -99999999;
}

.user-menu::before{
    position: absolute;
    top: -15px;
    right: 7px;
    content: "";
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(226, 226, 226);
}

.user-menu a,
.user-menu button{
    padding: 5px 0px;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: unset;
    outline: none;
    cursor: pointer;
    color: black;
    width: max-content;
}

.user-menu button{
    border: 0;
}

.user-menu a:hover,
.user-menu button:hover{
    font-weight: bold;
    transition: .2s;
}

.nav-notifications img{
    width: 30px;
    margin-right: 10px;
}

.modal-notifications{
    position: absolute;
    top: 50px;
    left: -260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    transition: .3s;
    opacity: 0;
    transform: translateY(-100%);
    z-index: -99999999;
}

.notifications-container{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between
}

.notifications-line{
    display: flex;
    align-items: center;
    height: 60px;
}

.left-color{
    width: 5px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    margin-right: 15px;
}

.icon-color{
    margin-right: 15px;
}

.icon-color svg{
    width: 30px;
    height: 30px;
    color: red;
}

.text-info h1{
    font-size: 16px;
}

.text-info p{
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.notifications-on{
    opacity: 1;
    transform: translateY(0%);
    transition: .3s;
}