.button-container legend,
.button-container input{
    margin-bottom: 10px;
}

.button-container button{
    background-color: var(--azul-grupo);
    transition: .3s;
    margin-bottom: 20px;
    position: relative;
}

.button-container button:hover{
    background-color: var(--azul-grupo-hover);
    transition: .3s;
}

.button-container-separete{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 20px 0px;
}

#url-select,
#url-option-select{
    width: 100%;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 8px 0px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.create-link{
    width: 501px;
}

.create-link input,
.create-link button{
    margin-bottom: 10px;
}

.create-link button{
    background-color: var(--azul-grupo);
    transition: .3s;
}

.create-link button:hover{
    background-color: var(--azul-grupo-hover);
    transition: .3s;
}

.rh-news.container .line-opt{
    align-items: center;
}

.line-opt button{
    background-color: var(--verde-grupo);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 8px 0px;
    text-align: left;
}

.line-opt button:hover{
    background-color: var(--verde-grupo-hover);
}

.line-opt a{
    margin-right: 0px;
    margin-left: 10px;
}

.line-opt a:nth-child(3){
    background-color: rgb(212, 66, 66);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

.line-opt a:nth-child(2){
    background-color: var(--azul-grupo);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

.line-opt a:nth-child(3):hover{
    background-color: rgb(221, 111, 111);
    transition: .3s;
}

.line-opt a:nth-child(2):hover{
    background-color: var(--azul-grupo-hover);
    transition: .3s;
}

.create-link .col-1 .rh-news.container{
    margin-bottom: 20px;
}

.line-opt-edit,
.line-opt-edit-category,
.line-opt-edit-button{
    display: none!important;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.line-opt-inside{
    display: flex;
}

.line-opt-edit input{
    margin-right: 10px;
}

.line-opt-edit button{
    width: 20%;
}

.line-opt-edit-category button,
.line-opt-edit-button button{
    width: 100%;
    border-radius: 5px;
    color: white;
}

.edit-on{
    display: flex!important;
}

.error-log p{
    color: red;
    text-align: center;
}

.line-opt-edit-button .line-opt input,
.line-opt-edit-button .line-opt button,
.line-opt-edit-button .line-opt legend{
    margin: 0;
}

.line-opt-edit-button .line-opt input,
.line-opt-edit-button .line-opt legend{
    margin-right: 8px;
}

.line-opt-edit-button .line-opt button{
    background-color: var(--azul-grupo);
}

.line-opt-edit-button .line-opt button:hover{
    background-color: var(--azul-grupo-hover);
}

.rh-news.container select{
    width: 20%;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 7px 0px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.rh-news.container p{
    margin-bottom: 10px;
}

.create-link:nth-child(1) .rh-news.container:nth-child(2){
    display: none;
}

.create-link:nth-child(1) .rh-news.container:nth-child(2) .line-opt-edit.edit-on{
    width: 100%;
}
