.register_collaborator{
    display: flex;
    background-color: white;
    height: 100%;
}

.line:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container_collaborator{
    width: 100%;
}

.line{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    column-gap: 20px;
}

.line_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.line_icon{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
}

.line_icon a{
    color: black;
    height: 100%;
    padding: 3px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_icon a:hover{
    transition: .3s;
    color: white;
}

.input_img{
    width: 100%;
    background-color: var(--azul-grupo);
    color: white;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
}

.input_img:hover{
    transition: .3s;
    background-color: var(--azul-grupo-hover);
}

.select_pers{
    width: 100%!important;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 8px 0px;
    outline: none;
    cursor: pointer;
}

.title_register{
    text-align: center;
    margin-bottom: 40px;
    color: var(--azul-grupo);
}

.title_register:last-child{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-register input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;

}

.form-register legend{
    margin-bottom: 10px;
}

.form-register input[type="file"]{
    display: none;
}

.clear-fields{
    background-color: var(--azul-grupo);
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
}

.form-register button{
    background-color: var(--verde-grupo);
    color: white;
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    outline: none;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.line:last-child{
    margin-top: 30px;
}

.clear-fields:hover{
    background-color: var(--azul-grupo-hover);
    transition: .3s;
}

.form-register button:hover{
    background-color: var(--verde-grupo-hover);
    transition: .3s;
}