.line:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    column-gap: 20px;
}

.line_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.line_flex label{
    margin-bottom: 10px;
}

.line_flex img{
    width: 100%;
    max-width: 400px;
}

.line_icon{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
}

.line_icon a{
    color: black;
    height: 100%;
    padding: 3px;
    transition: .3s;
}

.line_icon a:hover{
    transition: .3s;
    color: white;
}

.input_img{
    width: 100%;
    background-color: var(--azul-grupo);
    color: white;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
}

.input_img:hover{
    transition: .3s;
    background-color: var(--azul-grupo-hover);
}

.select_pers{
    width: 100%;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 8px 0px;
    outline: none;
    cursor: pointer;
}

.title_register{
    text-align: left!important;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--azul-grupo);
}

.title_register:last-child{
    margin-top: 20px;
    margin-bottom: 20px;
}

#img-user{
    display: none;
}

.line_flex > div{
    width: 100%;
}

.form .line input{
    width: 100%;
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

input[type="file"]{
    display: none;
}

.form .line legend{
    margin-bottom: 10px;
}

.form .line button{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: var(--verde-grupo);
    margin-top: 10px;
    outline: none;
    border: 0;
    cursor: pointer
}

.form .line a{
    width: 100%;
    border: 0;
    padding: 8px;
    font-size: 16px;
    outline: none;
    background-color: var(--azul-grupo);
    color: white;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.rh-news.container h1{
    font-size: 20px;
}

.last_news{
    margin-top: 15px;
    max-height: 582px;
    min-height: 582px;
    overflow: hidden;
}

.line_last{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.712);
}

.date_div{
    display: flex;
    align-items: center;
    text-align: center;
}

.date_div a{
    margin-right: 5px;
    transition: .3s;

}

.date_div a:hover{
    transition: .3s;
    transform: scale(105%);
}