.title-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.title-container a{
    display: flex;
    transition: .3s;
    align-items: center;
}

.title-container a svg{
    margin-left: 5px;
}

.title-container a:hover{
    transition: .3s;
    color: rgb(121, 121, 121);
}

.holidays-container .search-name,
.attests-container .search-name,
.refounds-container .search-name{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0px!important;
    padding-right: 0px!important;
}


.holidays-container .search-name h1,
.attests-container .search-name h1{
    width: 100%;
    max-width: max-content;
    margin-bottom: 0px!important;
    margin-right: 250px;
}

.refounds-container .search-name h1{
    width: 100%;
    max-width: 430px;
    text-align: left;
}

