.main{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

#body-main.open{
  padding:30px 30px 30px 330px;
}

#body-main{
  padding:30px;
  transition:1s;
}

#side-bar{
  width:300px;
  background-color:#fff;
  top: 85px;
  left:-300px;
  position: fixed;
  height: 100%;
  box-shadow:0 5px 5px rgba(0,0,0,0.2);
  transition:1s;
}

#side-bar.open{
  left:0px;
}

.body{
  width:100%;
}